/*-- scss:defaults --*/

$presentation-heading-color: #3333b3;
$code-color: #000000;
$myoverbox-color: #ff6000;
$myem-color: #ff6000;
$font-family-monospace: "Source Code Pro","Courier New",monospace;

/*-- scss:rules --*/

.reveal .slide ul li {
    list-style-type: none;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.reveal .slide ul li ul li {
    margin-top: 0em;
    margin-bottom: 0.05em;
    font-size: 90%;
}

.reveal .slide ul li ul li ul li {
    margin-top: 0em;
    margin-bottom: 0.05em;
    font-size: 80%;
}

.reveal .slide > ul {
    margin-left: 0em;
}

.reveal .slide h3:empty { display: none; }

.my-full {
    max-height: calc(var(--slide-height) * 0.8);
    max-width: 100%;
    height: 100%;
    width: 100%;
}

.my-full > p {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}

.my-full > p img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.my-small, .my-small p, .mysmall, .mysmall p {
    font-size: 75%;
    line-height: 1.0;
}

.reveal .slide > p {
    line-height: 1.0;
}

.reveal .slide table td {
    border: none;
    padding-bottom: 0em;
    padding-top: 0em;
}

.reveal .fragment.myem-only.current-fragment{
    color: $myem-color;
    font-style: italic;
}

.reveal .fragment.myem.visible {
    color: #ff6000;
    font-style: italic;
}

.reveal code {
    color: inherit;
}

.reveal em {
    color: #ff6000;
    font-style: italic;
}

.mypre {
    white-space: pre;
}


p:has(> .mycredit:only-child), .mycredit:not(:only-child) {
    position: absolute;
    bottom: 0pt;
    right: 0pt;
    font-size: 0.5em;
}

.altem {
    color: green;
    font-style: oblique;
}

code span { color: inherit; }

div.myoverbox {
    position: absolute;
    font-size: 30px;
    background-color: $body-bg;
    top: 20%;
    left: 50%;
    max-width: 95%;
    width: max-content;
    transform: translate(-50%, 0%);
    border: $myoverbox-color 5px solid;
    padding: 3px 3px 3px 3px;
} 

div.myoverbox.low {
    top: auto;
    bottom: 20%;
}

div.myoverbox.vlow {
    top: auto;
    bottom: 5%;
}

.reveal .slide .answer-twocol ol {
    column-count: 2;
    column-fill: balance;
}

.reveal .slide .answer-twocol ol li {
    margin-top: 0;
    margin-bottom: 0;
}

.myoverbox > p { margin: 0 0 0 0 }

section > ul {
    margin: 0 0 0 0;
}

.reveal .slide ul li > hr.vspace, hr.vspace {
    margin-top: 0.75em;
    border: none;
}

.reveal div.sourceCode { border: none; }

.transparent-code pre { width: auto }
.transparent-code code { width: auto }

@media print {
    .slide-chalkboard-buttons {
        display: none ! important
    }
}
